<h1>ARTICLES</h1>

<ul>
  <% @articles.each do |article| %>
    <li>
      <%= link_to article.title, article_path(article.id) %>
    </li>
  <% end %>
</ul>

<p> ✚ <%= link_to "Ajouter un article", new_article_path %></p>
